import React, { memo } from "react";
import { <%= data.name %>Wrap } from "./style";

export default memo(function <%= data.name %>(props) {
  return (
    <<%= data.name %>Wrap>
      <h1><%= data.name %></h1>
    </<%= data.name %>Wrap>
  );
});
